jobs:
  build:
    docker:
      - image: 'cimg/python:3.8'
    steps:
      - checkout
      - run: "echo \"\U0001F527 Building the application...\""
  test:
    docker:
      - image: 'cimg/python:3.8'
    steps:
      - run: "echo \"\U0001F9EA Running tests...\""
  deploy:
    docker:
      - image: 'cimg/python:3.8'
    steps:
      - run: "echo \"\U0001F680 Deploying the application...\""
workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy:
          requires:
            - test
